.button {
  &__element {

    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      background-color: #000;
      color: #fff;
    }



    &--primary {
      background-color: #007bff;
      color: #fff;

      &:hover {
        background-color: #0056b3;
      }
    }

    &--secondary {
      background-color: #6c757d;
      color: #fff;

      &:hover {
        background-color: #343a40;
      }
    }

    &--success {
      background-color: #28a745;
      color: #fff;

      &:hover {
        background-color: #218838;
      }
    }

    &--danger {
      background-color: #dc3545;
      color: #fff;

      &:hover {
        background-color: #c82333;
      }
    }

    &--warning {
      background-color: #ffc107;
      color: #fff;

      &:hover {
        background-color: #e0a800;
      }
    }

    &--info {
      background-color: #17a2b8;
      color: #fff;

      &:hover {
        background-color: #138496;
      }
    }

    &--light {
      background-color: #f8f9fa;
      color: #000;

      &:hover {
        background-color: #e2e6ea;
      }
    }

    &--dark {
      background-color: #343a40;
      color: #fff;

      &:hover {
        background-color: #23272b;
      }
    }

    &--link {
      background-color: transparent;
      color: #007bff;
      border: none;

      &:hover {
        background-color: transparent;
        color: #0056b3;
      }
    }

    &--block {
      display: block;
      width: 100%;
    }

    &--outline-primary {
      background-color: transparent;
      color: #007bff;
      border: 1px solid #007bff;

      &:hover {
        background-color: #007bff;
        color: #fff;
      }
    }

    &--disabled {
      background-color: #ccc;
      color: #000;
      cursor: not-allowed;

      &:hover {
        background-color: #ccc;
        color: #000;
      }
    }
  }

  pre {
    font-size: 0.5rem;
  }
}
